<h1>Hello Angular 16!</h1>
<p>
  Welcome to your first Angular app running on the latest version of Node.js.
</p>
<app-hello-world></app-hello-world>

<app-counter></app-counter
><!-- Add the counter component here -->
<app-todo-list></app-todo-list>
<!-- Add the todo list component here -->
<app-signal-example></app-signal-example>
<!-- Add the SignalExampleComponent here -->
<app-observable-example></app-observable-example>
<!-- Add ObservableExampleComponent here -->
<app-promise-example></app-promise-example>
<!-- Add PromiseExampleComponent here -->
<app-parent></app-parent>
